@charset "UTF-8";

@font-face {
  font-family: "logopor";
  src:url("logopor.eot");
  src:url("logopor.eot?#iefix") format("embedded-opentype"),
    url("logopor.woff") format("woff"),
    url("logopor.ttf") format("truetype"),
    url("logopor.svg#logopor") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "logopor" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "logopor" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twit:before {
  content: "\6c";
}
.icon-face:before {
  content: "\6d";
}
.icon-insta:before {
  content: "\69";
}
.icon-pint:before {
  content: "\61";
}
.icon-youtu:before {
  content: "\62";
}
.icon-rss:before {
  content: "\63";
}
.icon-search:before {
  content: "\65";
}
