
body {
	line-height: 1;
	background-color: #fafafa;	
}


.container{
 
  width:100%;
  max-width: 1140px;
  margin:0 auto; 
}

.social-stick{
position: fixed;
top: 49%;
left: 5px;
}
.social-stick ul{
	margin: 0;
	padding: 0;
}
.social-stick ul li{
 list-style: none;
 margin: 5px 0;
}
.social-stick  a{
 width: 50px;
 height: 50px;
 line-height: 50px;
 font-size: 20px;
 color:#000;
 display: block;
 text-align: center;
 text-decoration: none;	
 transition:0.3s all; 
}

.social-stick a:hover{
	color: #fbc41b;
}
.boite-column {
	display: grid;
		   
}

.boite-column{
	/*grid-template-columns: auto auto auto;*/
	grid-template-columns:  1fr 1fr 1fr  ;
	 grid-template-rows: 1fr 50px 540px auto ;
	  grid-template-areas: 
	  "  logo navbar navbar "
	  "  . . .  "
	  "  newRecp newRecp newRecp"
	  "  leyend leyend leyend"
	  "  rec-title rec-title about "
	  "  galery galery  about "
	  "  sign sign  sign "
	  "  footer footer footer "
	}

 /*Logo*/
.boite-logo{
	grid-area:logo;
	
}
.boite-logo img{
margin-top: 10px;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Nav*/
.boite-nav{
	 grid-area:navbar;
	 margin-top: 25px;	 
	 display: flex;
	 flex-wrap: wrap;
	
}
.social {
	width: 50%;
	margin-top: 7px;
	text-align: end;
}
.social  a{
 text-decoration: none;
 color: black;
 font-size: 20px;
 padding: 0.5em;
 transition:0.3s all;
}

.social a:hover{
	color: #fbc41b;
}

.nav-list{
	 display: flex;
	 justify-content: space-ev;
     margin: 0;
	 padding: 0;
	 border: 0;
     font-family: 'Ibarra Real Nova', serif;    
}


.nav-list li{
     list-style: none;
	 margin: 0;
	 padding: 0;
	 border: 0;
	 
     
}
    
.nav-list li a{
    text-decoration: none;
    color: #2A2A2A;
	font-size: 20px;
	margin: 14px;
	transition:0.3s all;
}

.nav-list li a:hover{
    color: #fbc41b;
}

.search {
	width: 50%;
	display: flex;
  }
  
  .searchTerm {
	width: 100%;
	border: 3px solid #fbc41b;
	border-right: none;
	padding: 5px;
	height: 20px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #000000;
  }
  
  .searchButton {
	width: 40px;
	height: 36px;
	border: 1px solid #fbc41b;
	background: #fbc41b;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
  }

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Nav*/

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>card*/
.newRecp{
	grid-area:newRecp;
	overflow: hidden;
	margin-bottom: 40px;
	font-family: 'Ibarra Real Nova', serif;
	line-height: 1.8;
}
.news{
	background-color: #2a2a2a;
    overflow: hidden;
    position: relative;
}

.newRecp .news .iamgeNews{
	width: 55%;	
}

.newRecp .news .iamgeNews img{
	width: 100%;
}
.newRecp .news .card{
    
    color: #fff;
    width: 38%;
    position: absolute;
    top: 14%;
    right: 0;
    padding: 0 4%;
}

.newRecp .news .card a{
	text-decoration: none;
	color:#fff;
}

.newRecp .news .card .infoCard{
	color: #fff;
    background-color: #fbc41b;
    display: inline-block;
    padding: 2px 10px;
}




/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>sing*/

.sign{
grid-area:sign;	
display :flex;
justify-content:center;
margin-top: 30px;
margin-bottom: 30px;
margin-right: 50px;
font-family: 'Alex Brush', cursive;
font-size: 20px;
}
.send{
padding-top: 25px;
margin-left: 10px;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>leyend*/
.leyend{
grid-area:leyend;
text-align: center;	
margin-bottom: 40px;
}
.leyend h1{
font-family: 'Alex Brush', cursive;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>leyend*/
.rec-title{
grid-area:rec-title;
width: 100%;
margin-bottom: 25px;
word-spacing: 0.25em;
}


/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>galery*/
.boite-galery{
	grid-area:galery;
	display: flex;
    flex-wrap: wrap;
    justify-content:space-between;   
}
.boite-galery article{
  width:42%;
  border:0px ;
  padding:0px;
  margin-right: 55px; 
  margin-bottom: 20px;
  font-family: 'Ibarra Real Nova', serif;
}

.galery-img{
	width: 100%;
	box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
	margin-bottom: 8px;
}

article h2{
	text-align: center;
	
}

.text-galery{
 border: 2px solid #fbc41b;
 border-radius: 55px;
 padding: 3px;
 margin-top: 5px;
 text-align: center;
}

.text-galery img{
	width: 25%;
	
}
.text-galery a{
	text-decoration: none;
	color: black;
}

.text-galery a{
transition:0.3s all;
}

.text-galery h2 :hover{
	color:#fbc41b;
}
.text-galery p{
	line-height: 1.8;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>galery*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>about*/
.boite-about{
grid-area:about;
}
.aboutText h2{
 text-align: center;
 font-family: 'Alex Brush', cursive;
}
.aboutText p{
font-family: 'Ibarra Real Nova', serif;
line-height: 1.8;
}


/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>footer*/
.boite-footer{
	grid-area:footer;
	
}
.contenu-footer{
    display: flex;
    justify-content: space-between;
	font-family: 'Ibarra Real Nova', serif;
	
}

.footer-bloc{
width: 172px;
text-align: center;
}

.footer-bloc ul{
 list-style: none;
 color: #2A2A2A;
    margin: 0;
	padding: 0;
	border: 0;
}
.footer-bloc a {
	text-decoration: none;
	color: #2A2A2A;
	text-align: center;	
}
.liste-services li{
transition:0.3s all;
margin-bottom: 10px;
}

.liste-services a:hover{
    color: #fbc41b;
}
.liste-media li{
	transition:0.3s all;
	margin-bottom: 4px;
	}
	
.liste-media a:hover{
color: #fbc41b;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>footer*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>recette*/

.inside-rect img{
	width: 100%;
	}
.inside-rect p{
	line-height: 1.8;
	
}
.inside-rect h3{
	font-family: 'Ibarra Real Nova', serif;
	font-size: 25px;
	}
.rec-img{
	text-align: center;	
}

.rec-img img{
	max-width: 100%;
	border: 2px solid #fbc41b;
}


.prep{
	overflow: hidden;
	width: fit-content;
}
.Ingredients{
display: flex;
flex-wrap: nowrap;
margin-top: 0px;
margin-left: 10px;
font-family: 'Ibarra Real Nova', serif;
}
.Ingredients li{
	font-size: 20px;
	margin-bottom: 40px;
	font-family: 'Ibarra Real Nova', serif;
	
}
.Ingredients h2{
	margin-bottom: 10px;	
}
.undertitle{
text-align: center;
font-family: 'Alex Brush', cursive;
font-size: 25px;
margin-left: 50px;
}

.vl {
	border-left: 2px solid #fbc41b;
	height: 330px;
	margin-top: 15px;
	margin-left: 70px;
  }
  .chef-title{
	  text-align: center;
  }
  
 
.deco{	
	width: 100%;
	padding-bottom: 10px;	
}
.deco img{
	width: fit-content;
	
}
  
@media(max-width: 550px){
	.social-stick{
	 display: none;	
	}
	.boite-column{
	max-width: 95%;	
	/*grid-template-columns: auto auto auto;*/
	grid-template-columns: 1fr;
	 grid-template-rows: auto ;
	  grid-template-areas: 
	  "  navbar  "
	  "  logo  "
	  " newRecp"
	  "leyend"
	  " about"
	  "rec-title"
	  " galery"
	  "sign"
	  " footer"
	}

	.boite-logo{
		grid-area:logo;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 20px;
		
	}
	
	.boite-nav{
		grid-area:navbar;
		margin-top: 25px;	 
		display: flex;
		flex-wrap: wrap;
	   
   }
   .social  a{
	padding:6px;
   }
   .nav-list{
	 text-align: center;  
	 margin-left: 20px;
	 margin-top: 20px;
   }
   .nav-list a{
	   padding: 5px;
   }
   .newRecp .news .iamgeNews{
	width: 55%;	
   }
    .newRecp{
		line-height: 0.9;
	}
    .newRecp .news .card{  
    width: 39%;  
   }

   .boite-galery article{
	width:80%;
	margin-left: 60px;
   }
   .boite-about article img{
	  text-align: center;
   }
  
}